[submodule "submodule-modified-committed"]
	path = submodule-modified-committed
	url = git@github.com:stevek-axo/MousingAround.git
[submodule "submodule-new-committed"]
	path = submodule-new-committed
	url = git@github.com:stevek-axo/MousingAround.git
